:root {
    --cor-primaria: #043043;
    --cor-secundaria: #06506F;
    --cor-fundo: #EAF1FB;
    --cor-texto: #096F9A;
    --cor-contraste: #0C8EC6;
    --cor-botao: #0EA7E8;
}

body {
    max-width: 100vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
   background-color: var(--cor-primaria);
   color: var(--cor-contraste);
   text-align: center;
   margin: 0 auto;
   padding: 16px;
}